body{ background-color: grey}


h1{font-family: monospace;
	color: pink;
	font-size: 40px;
}

h2{color: white;}
h3{color: white;}

h4{font-variant: small-caps;
	font-size: 30px;
color: white;

}


